<h2>Add Campus</h2>
<div class="card card-body mb-3">
  <form #campusForm="ngForm">
    <div class="form-group">
      <label>Campus Name</label>
      <input type="text" class="form-control" [(ngModel)]="currentCampus.name" name="campusName" #title>
    </div>
    <div class="form-group">
      <label>Campus Location</label>
      <input type="text" class="form-control" [(ngModel)]="currentCampus.location" name="location" #body>
    </div>
    <div class="form-group">
      <label>Campus Date Of Creation</label>
      <input type="date" class="form-control" [(ngModel)]="currentCampus.dateOfCreation" name="dateOfCreation" #date>
    </div>
    <!-- <input type="hidden" [(ngModel)]="currentCampus.id" name="id"> -->

    <button *ngIf="!isEdit" (click)="addCampus(campusForm.value)" class="btn btn-dark btn-block">Add Campus</button>

    <button *ngIf="isEdit" (click)="updateCampus()" class="btn btn-warning btn-block">Update Campus</button>
  </form>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button>
</div>