<h1>Welcome</h1>
<p>This is Campus application</p>
<button class="btn btn-secondary" routerLink="/campusList">Campus Section</button>
<button class="btn btn-secondary" routerLink="/university">University Section</button>