<app-campus-form></app-campus-form>
<h2>List Of Campus</h2>



<div class="card" *ngFor="let campus of listCampus">
  <div class="card-body">
    <h3>{{ campus.name }}</h3>
    <h3>{{ campus.location }}</h3>
    <h3>{{ campus.dateOfCreation}}</h3>
    <hr>
    <button (click)="removeCampus(campus)" class="btn btn-danger"><i class="fa fa-trash"></i></button>

    <button (click)="editCampus(campus)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
  </div>
</div>